Repository TreasureProject/tdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alecananian, @mfar, @aphexyuri

.github/CODEOWNERS:

# Miscellaneous

- @alecananian

# Apps

apps/api/ @alecananian
apps/login/ @alecananian

# Packages

packages/core/ @alecananian
packages/react/ @alecananian

# Examples

examples/harvester/ @alecananian
examples/payments/ @alecananian

# Infrastructure

cdk/ @mfar @aphexyuri @alecananian

add changeset ci workflow
  .changeset/config.json
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-login.yml
  .github/workflows/release.yml
  package.json
Owners: none

add pr checks workflow
  .github/workflows/pr.yml
  package.json
Owners: none

add build steps to pr job
  .github/workflows/pr.yml
  package.json
Owners: none

add pr checks and release ci workflows (#25)
  .changeset/config.json
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-login.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
Owners: none

fix publish script name
  .github/workflows/release.yml
Owners: none

update deployment strategies and docs
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-login.yml
  apps/api/README.md
  apps/login/README.md
  packages/core/README.md
  packages/react/README.md
Owners: @alecananian

update deployment strategies and docs (#26)
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-login.yml
  apps/api/README.md
  apps/login/README.md
  packages/core/README.md
  packages/react/README.md
Owners: @alecananian

fix environment name setting
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-login.yml
Owners: none

api: fix ci docker build image tag
  .github/workflows/deploy-api.yml
Owners: none

login: fix @remix-run/serve dependency
  apps/login/package.json
  package-lock.json
Owners: @alecananian

add option to use custom wagmi config; configure thirdweb rpc
  .changeset/tidy-ligers-thank.md
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/harvesters.ts
  apps/api/src/types.ts
  apps/api/src/utils/env.ts
  package-lock.json
  packages/core/src/utils/corruption.ts
  packages/core/src/utils/harvesters.ts
  packages/core/src/utils/wagmi.ts
Owners: @alecananian

simplify default wagmi config
  packages/core/src/utils/wagmi.ts
Owners: @alecananian

add option to use custom wagmi config; configure thirdweb rpc (#27)
  .changeset/tidy-ligers-thank.md
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/harvesters.ts
  apps/api/src/types.ts
  apps/api/src/utils/env.ts
  package-lock.json
  packages/core/src/utils/corruption.ts
  packages/core/src/utils/harvesters.ts
  packages/core/src/utils/wagmi.ts
Owners: @alecananian

api: fix ci unable to assume github role
  .github/workflows/deploy-api.yml
  .gitignore
  cdk/cdk.json
Owners: @mfar, @aphexyuri, @alecananian

api: add tx gas override params to contract write endpoint
  apps/api/package.json
  apps/api/src/schema.ts
  package-lock.json
Owners: @alecananian

api: add tx gas override params to contract write endpoint (#29)
  apps/api/package.json
  apps/api/src/schema.ts
  package-lock.json
Owners: @alecananian

core/api: add all active signers to current user response
  apps/api/src/routes/users.ts
  apps/api/src/schema.ts
  package-lock.json
  packages/core/src/abis/managedAccountAbi.ts
  packages/core/src/index.ts
  packages/core/src/utils/accounts.ts
Owners: @alecananian

add logging around db secret fetching
  apps/api/src/utils/env.ts
Owners: @alecananian

add mainnet and sepolia as supported chains
  apps/api/prisma/seed.ts
  package-lock.json
  packages/core/src/constants.ts
  packages/core/src/utils/contracts.ts
  packages/core/src/utils/corruption.ts
  packages/core/src/utils/harvesters.ts
Owners: @alecananian

api: add schema descriptions and examples
  apps/api/src/index.ts
  apps/api/src/middleware/swagger.ts
  apps/api/src/routes/auth.ts
  apps/api/src/routes/contracts.ts
  apps/api/src/routes/harvesters.ts
  apps/api/src/routes/projects.ts
  apps/api/src/routes/transactions.ts
  apps/api/src/routes/users.ts
  apps/api/src/schema.ts
Owners: @alecananian

api: add db and engine checks to healthcheck
  apps/api/src/index.ts
Owners: @alecananian

init commit
  .gitignore
  terraform/environments/developments/account.hcl
  terraform/environments/developments/aurora/terragrunt.hcl
  terraform/environments/developments/env.hcl
  terraform/environments/developments/fargate/terragrunt.hcl
  terraform/environments/terragrunt.hcl
  terraform/modules/ecs-fargate/dns.tf
  terraform/modules/ecs-fargate/ecr.tf
  terraform/modules/ecs-fargate/main.tf
  terraform/modules/ecs-fargate/variables.tf
  terraform/modules/postgresql-aurora/main.tf
  terraform/modules/postgresql-aurora/outputs.tf
  terraform/modules/postgresql-aurora/secret-manager.tf
  terraform/modules/postgresql-aurora/security-groups.tf
  terraform/modules/postgresql-aurora/variables.tf
Owners: none

fixed development folder name + github oidc role and the policy
  terraform/environments/development/account.hcl
  terraform/environments/development/aurora/terragrunt.hcl
  terraform/environments/development/env.hcl
  terraform/environments/development/fargate/terragrunt.hcl
  terraform/environments/development/github-oidc/terragrunt.hcl
  terraform/modules/github-oidc/main.tf
  terraform/modules/github-oidc/outputs.tf
  terraform/modules/github-oidc/variables.tf
Owners: none

README along with ECR repo and docker build and push
  terraform/README.md
  terraform/modules/ecs-fargate/ecr.tf
  terraform/modules/ecs-fargate/main.tf
  terraform/modules/ecs-fargate/variables.tf
Owners: none

fixed typo
  terraform/README.md
Owners: none

fixing gpg signing
  terraform/README.md
Owners: none

test pgp signing
  README.md
Owners: none

testing deployment to new cluster along with auto scaling
  .github/workflows/deploy-api.yml
  terraform/environments/development/env.hcl
  terraform/environments/development/fargate/terragrunt.hcl
  terraform/modules/ecs-fargate/ecr.tf
  terraform/modules/ecs-fargate/main.tf
  terraform/modules/ecs-fargate/outputs.tf
  terraform/modules/ecs-fargate/variables.tf
Owners: none

fixing cd
  .github/workflows/deploy-api.yml
Owners: none

fixing cd
  .github/workflows/deploy-api.yml
  apps/api/.aws/task-definition-development.json
  apps/api/.aws/task-definition-development.json~
Owners: @alecananian

fixing definition config
  apps/api/.aws/task-definition-development.json
Owners: @alecananian

simplifying config
  apps/api/.aws/task-definition-development.json
Owners: @alecananian

added portName
  apps/api/.aws/task-definition-development.json
Owners: @alecananian

pr adjustments
  .github/workflows/deploy-api.yml
  apps/api/.aws/task-definition-development.json
  apps/api/.aws/task-definition-development.json~
Owners: @alecananian

add treasure ruby chain configs
  apps/api/prisma/seed.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
Owners: @alecananian

configure and run biome formatter
  apps/api/src/index.ts
  apps/api/src/routes/auth.ts
  apps/login/app/components/SpinnerIcon.tsx
  apps/login/app/entry.server.tsx
  apps/login/app/hooks/useLogin.ts
  apps/login/app/routes/($slug)._index.tsx
  biome.json
  examples/payments/src/App.tsx
  package-lock.json
  package.json
  packages/core/src/api.ts
  packages/core/src/utils/harvesters.ts
  packages/core/src/utils/login.ts
  packages/core/src/utils/payments.ts
  packages/core/src/utils/wagmi.ts
  packages/react/src/components/PaymentsCartModal.tsx
  packages/react/src/components/login/ConnectButton.tsx
Owners: @alecananian

remove prettier and eslint
  .dockerignore
  .eslintrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  apps/api/src/index.ts
  apps/login/app/entry.server.tsx
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/utils/harvesters.ts
  packages/react/package.json
  packages/react/src/components/ui/Button.tsx
  packages/react/src/components/ui/Dialog.tsx
  packages/react/src/hooks/payments/useMakePayment.ts
Owners: @alecananian

run lint
  packages/core/src/utils/wagmi.ts
Owners: @alecananian

farewell cdk
  cdk/README.md
  cdk/bin/cdk.ts
  cdk/cdk.json
  cdk/lib/tdk-api-app-stack.ts
  cdk/lib/tdk-db-stack.ts
  cdk/lib/tdk-github-oidc-stack.ts
  cdk/lib/tdk-vpc-stack.ts
  cdk/package.json
  cdk/tsconfig.json
Owners: @mfar, @aphexyuri, @alecananian

api: streamline verify auth logic; allow user address override for read reqs
  apps/api/src/middleware/auth.ts
  apps/api/src/routes/harvesters.ts
  apps/api/src/routes/transactions.ts
  apps/api/src/routes/users.ts
Owners: @alecananian
