Repository TreasureProject/tdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alecananian, @WyattMufson, @cdotta

.github/CODEOWNERS:

# Miscellaneous

- @alecananian
- @WyattMufson

# Apps

apps/api/ @alecananian

# Packages

packages/auth/ @alecananian
packages/core/ @alecananian
packages/react/ @alecananian
packages/tailwind-config/ @alecananian

# Examples

examples/connect-core/ @alecananian
examples/connect-react/ @alecananian
examples/connect-electron/ @WyattMufson
examples/magicswap/ @cdotta

hook up kms; fix signing message
  apps/api/src/index.ts
  apps/api/src/routes/auth.ts
  apps/api/src/types.ts
  apps/api/src/utils/env.ts
  packages/auth/src/auth.test.ts
  packages/auth/src/auth.ts
  packages/auth/src/base64.test.ts
  packages/auth/src/base64.ts
  packages/auth/src/base64url.test.ts
  packages/auth/src/base64url.ts
  packages/auth/src/kms.ts
Owners: @alecananian

add changeset; upgrade api deps
  .changeset/good-trainers-hear.md
  package-lock.json
  packages/auth/package.json
Owners: @alecananian

update readmes
  apps/api/README.md
  packages/auth/README.md
Owners: @alecananian

fix vitest timezone
  package.json
  packages/auth/src/auth.test.ts
Owners: @alecananian

api: log engine transaction errors
  apps/api/prisma/migrations/20240909160914_transaction_error_logs/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/routes/transactions.ts
Owners: @alecananian

api: fix error_message db column
  apps/api/prisma/migrations/20240909160914_transaction_error_logs/migration.sql
  apps/api/prisma/schema.prisma
Owners: @alecananian

alpine base
  apps/api/Dockerfile
Owners: @alecananian

testing alpine base image
  apps/api/Dockerfile
Owners: @alecananian

add auth built step to api deployment
  apps/api/.env.example
  apps/api/Dockerfile
Owners: @alecananian

added missing dockerfile line
  apps/api/Dockerfile
Owners: @alecananian

api: switch to node alpine docker image (#120)
  apps/api/Dockerfile
Owners: @alecananian

api: fix userop error parsing
  apps/api/src/utils/error.test.ts
  apps/api/src/utils/error.ts
Owners: @alecananian

feat: add user update api to tdk core
  .changeset/rare-pugs-approve.md
  packages/core/src/api.ts
Owners: @alecananian

feat: add user update api to tdk core (#121)
  .changeset/rare-pugs-approve.md
  packages/core/src/api.ts
Owners: @alecananian

update changelog
  packages/core/CHANGELOG.md
Owners: @alecananian

api: add transaction simulation and better error message handling
  .changeset/selfish-zoos-fry.md
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/routes/magicswap.ts
  apps/api/src/routes/transactions.ts
  apps/api/src/schema/magicswap.ts
  apps/api/src/schema/transactions.ts
  apps/api/src/types.ts
  apps/api/src/utils/env.ts
  apps/api/src/utils/error.test.ts
  apps/api/src/utils/error.ts
  package-lock.json
  packages/core/src/api.ts
Owners: @alecananian

integrate ecosystem wallets
  examples/connect-react/src/main.tsx
  packages/core/src/connect/login.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/react/src/components/connect/ConnectModal.tsx
  packages/react/src/contexts/treasure.tsx
Owners: @alecananian

streamline login functions; fix ecosystem env vars
  examples/connect-core/.env.example
  examples/connect-core/src/main.ts
  examples/connect-react/.env.example
  examples/connect-react/src/main.tsx
  packages/core/src/connect/login.ts
  packages/core/src/index.ts
Owners: @alecananian

add changeset
  .changeset/afraid-pans-listen.md
Owners: none

remove exports for in-app wallets
  examples/connect-electron/.env.example
  examples/connect-electron/src/renderer/src/main.tsx
  packages/core/src/connect/login.ts
  packages/core/src/index.ts
  packages/react/src/components/connect/ConnectModal.tsx
Owners: @WyattMufson, @alecananian

api: handle more engine error formats
  apps/api/src/utils/error.test.ts
  apps/api/src/utils/error.ts
Owners: @alecananian

add x connect method option
  .changeset/blue-turkeys-yell.md
  .changeset/lucky-eyes-allow.md
  examples/connect-electron/src/renderer/src/assets/base.css
  examples/connect-electron/src/renderer/src/assets/main.css
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/connect/login.ts
  packages/react/package.json
  packages/react/src/components/connect/ConnectMethodSelectionView.tsx
  packages/react/src/icons/XIcon.tsx
  packages/react/src/translations/en.ts
  packages/react/src/translations/es.ts
  packages/react/src/translations/ja.ts
  packages/react/src/translations/ru.ts
  packages/tailwind-config/fonts.css
Owners: @WyattMufson, @alecananian

improve mobile styling
  package-lock.json
  packages/react/src/components/connect/ConnectMethodSelectionView.tsx
Owners: @alecananian

add x connect method option (#123)
  .changeset/blue-turkeys-yell.md
  .changeset/lucky-eyes-allow.md
  examples/connect-electron/src/renderer/src/assets/base.css
  examples/connect-electron/src/renderer/src/assets/main.css
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/connect/login.ts
  packages/react/package.json
  packages/react/src/components/connect/ConnectMethodSelectionView.tsx
  packages/react/src/icons/XIcon.tsx
  packages/react/src/translations/en.ts
  packages/react/src/translations/es.ts
  packages/react/src/translations/ja.ts
  packages/react/src/translations/ru.ts
  packages/tailwind-config/fonts.css
Owners: @WyattMufson, @alecananian

api: reduce production sentry sample rates
  apps/api/src/instrument.ts
Owners: @alecananian

add jwt parsing fallback; remove overrideUserAddress feature
  apps/api/src/middleware/auth.ts
  apps/api/src/routes/harvesters.ts
Owners: @alecananian

parse backend wallet from account signature header
  apps/api/src/middleware/auth.ts
  apps/api/src/utils/error.ts
Owners: @alecananian

use backend wallet from middleware
  apps/api/src/middleware/auth.ts
  apps/api/src/routes/magicswap.ts
  apps/api/src/routes/transactions.ts
Owners: @alecananian

add todos
  apps/api/src/middleware/auth.ts
Owners: @alecananian

upgrade dependencies
  package-lock.json
Owners: none

clear auth error on valid jwt fallback
  apps/api/src/middleware/auth.ts
Owners: @alecananian
