Repository TreasureProject/tdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alecananian, @mfar, @aphexyuri

.github/CODEOWNERS:

# Miscellaneous

- @alecananian

# Apps

apps/api/ @alecananian
apps/login/ @alecananian

# Packages

packages/core/ @alecananian
packages/react/ @alecananian

# Examples

examples/harvester/ @alecananian
examples/payments/ @alecananian

# Infrastructure

cdk/ @mfar @aphexyuri @alecananian

prod environment + optimization
  terraform/environments/production/account.hcl
  terraform/environments/production/aurora/terragrunt.hcl
  terraform/environments/production/env.hcl
  terraform/environments/production/fargate/terragrunt.hcl
  terraform/environments/production/github-oidc/terragrunt.hcl
  terraform/environments/terragrunt.hcl
  terraform/modules/ecs-fargate/dns.tf
  terraform/modules/ecs-fargate/variables.tf
Owners: none

removed terraform branch from cd
  .github/workflows/deploy-api.yml
Owners: none

using spellcaster.lol domain for dev env
  terraform/environments/development/account.hcl
  terraform/environments/development/env.hcl
  terraform/environments/development/fargate/terragrunt.hcl
Owners: none

removing spot instances on prod, removing non-safe special characters from aurora password
  terraform/environments/development/env.hcl
  terraform/environments/production/env.hcl
  terraform/environments/production/fargate/terragrunt.hcl
Owners: none

prod task definition
  apps/api/.aws/task-definition-development.json
  apps/api/.aws/task-definition-production.json
  terraform/modules/ecs-fargate/main.tf
  terraform/modules/ecs-fargate/variables.tf
  terraform/modules/postgresql-aurora/main.tf
Owners: @alecananian

add more zeeverse contracts; refactor seed script
  apps/api/prisma/seed.ts
  packages/core/src/constants.ts
  packages/core/src/types.ts
Owners: @alecananian

adjusted prod dns
  terraform/environments/production/env.hcl
Owners: none

migrate infrastructure-as-code to terraform (#30)
  .github/workflows/deploy-api.yml
  .gitignore
  README.md
  apps/api/.aws/task-definition-development.json
  apps/api/.aws/task-definition-production.json
  cdk/README.md
  cdk/bin/cdk.ts
  cdk/cdk.json
  cdk/lib/tdk-api-app-stack.ts
  cdk/lib/tdk-db-stack.ts
  cdk/lib/tdk-github-oidc-stack.ts
  cdk/lib/tdk-vpc-stack.ts
  cdk/package.json
  cdk/tsconfig.json
  terraform/README.md
  terraform/environments/development/account.hcl
  terraform/environments/development/aurora/terragrunt.hcl
  terraform/environments/development/env.hcl
  terraform/environments/development/fargate/terragrunt.hcl
  terraform/environments/development/github-oidc/terragrunt.hcl
  terraform/environments/production/account.hcl
  terraform/environments/production/aurora/terragrunt.hcl
  terraform/environments/production/env.hcl
  terraform/environments/production/fargate/terragrunt.hcl
  terraform/environments/production/github-oidc/terragrunt.hcl
  terraform/environments/terragrunt.hcl
  terraform/modules/ecs-fargate/dns.tf
  terraform/modules/ecs-fargate/ecr.tf
  terraform/modules/ecs-fargate/main.tf
  terraform/modules/ecs-fargate/outputs.tf
  terraform/modules/ecs-fargate/variables.tf
  terraform/modules/github-oidc/main.tf
  terraform/modules/github-oidc/outputs.tf
  terraform/modules/github-oidc/variables.tf
  terraform/modules/postgresql-aurora/main.tf
  terraform/modules/postgresql-aurora/outputs.tf
  terraform/modules/postgresql-aurora/secret-manager.tf
  terraform/modules/postgresql-aurora/security-groups.tf
  terraform/modules/postgresql-aurora/variables.tf
Owners: @alecananian, @mfar, @aphexyuri

api: streamline verify auth logic; allow user address override for read reqs (#32)
  apps/api/src/middleware/auth.ts
  apps/api/src/routes/harvesters.ts
  apps/api/src/routes/transactions.ts
  apps/api/src/routes/users.ts
Owners: @alecananian

run linter
  apps/api/.aws/task-definition-development.json
  apps/api/.aws/task-definition-production.json
Owners: @alecananian

switch formatting and linting to biome.js (#33)
  .dockerignore
  .eslintrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  apps/api/.aws/task-definition-development.json
  apps/api/.aws/task-definition-production.json
  apps/api/src/index.ts
  apps/api/src/routes/auth.ts
  apps/login/app/components/SpinnerIcon.tsx
  apps/login/app/entry.server.tsx
  apps/login/app/hooks/useLogin.ts
  apps/login/app/routes/($slug)._index.tsx
  biome.json
  examples/payments/src/App.tsx
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/api.ts
  packages/core/src/utils/harvesters.ts
  packages/core/src/utils/login.ts
  packages/core/src/utils/payments.ts
  packages/core/src/utils/wagmi.ts
  packages/react/package.json
  packages/react/src/components/PaymentsCartModal.tsx
  packages/react/src/components/login/ConnectButton.tsx
  packages/react/src/components/ui/Button.tsx
  packages/react/src/components/ui/Dialog.tsx
  packages/react/src/hooks/payments/useMakePayment.ts
Owners: @alecananian

add ruby nft contract
  apps/api/prisma/seed.ts
  apps/login/.env.example
  apps/login/app/utils/env.ts
  packages/core/src/constants.ts
  packages/core/src/types.ts
Owners: @alecananian

add knip and make some fixes
  apps/api/package.json
  apps/api/src/schema.ts
  apps/login/app/hooks/useLogin.ts
  apps/login/build-icons.ts
  apps/login/package.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/api.ts
  packages/core/src/constants.ts
  packages/react/package.json
Owners: @alecananian

fix container name in deploy api workflow
  .github/workflows/deploy-api.yml
Owners: none

add changeset
  .changeset/empty-horses-drive.md
Owners: none

add treasure ruby chain config data (#34)
  .changeset/empty-horses-drive.md
  apps/api/prisma/seed.ts
  apps/login/.env.example
  apps/login/app/utils/env.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Owners: @alecananian

add utils tests
  packages/core/src/utils/address.test.ts
  packages/core/src/utils/array.test.ts
  packages/core/src/utils/jwt.test.ts
  packages/core/src/utils/login.test.ts
Owners: @alecananian

biome ignore package.json files
  biome.json
Owners: none

add zeeverse testnet contracts
  apps/api/prisma/seed.ts
  packages/core/src/constants.ts
  packages/core/src/types.ts
Owners: @alecananian

added Ethereum mainnet Zeeverse contracts
  .changeset/wicked-terms-give.md
  apps/api/prisma/seed.ts
  packages/core/src/constants.ts
Owners: @alecananian

update publish ci workflow
  .github/workflows/release.yml
  apps/login/fly.toml
Owners: @alecananian

install changeset dep in release workflow
  .github/workflows/release.yml
Owners: none

just install all deps
  .github/workflows/release.yml
Owners: none

remove test branch
  .github/workflows/release.yml
Owners: none

ci: fix missing deps in release workflow (#37)
  .github/workflows/release.yml
Owners: none

ci: fix login deploy workflow
  apps/login/fly.toml
Owners: @alecananian

ci: fix npm release workflow
  .github/workflows/release.yml
Owners: none

login: ignore session keys that are too far in the future
  apps/login/app/hooks/useLogin.ts
  apps/login/app/routes/($slug)._index.tsx
  apps/login/app/utils/date.test.ts
  apps/login/app/utils/date.ts
Owners: @alecananian

login: fix session reuse logic
  apps/login/app/hooks/useLogin.ts
Owners: @alecananian

login: add cache purge step to ci workflow
  .github/workflows/deploy-login.yml
Owners: none

updated ssl arn + making sure CF proxy enabled by default
  terraform/environments/production/env.hcl
  terraform/modules/ecs-fargate/variables.tf
Owners: none

reverted enabling proxy
  terraform/modules/ecs-fargate/variables.tf
Owners: none

upgrade dependencies
  apps/api/package.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/react/package.json
Owners: @alecananian

fix all knip issues
  knip.json
  packages/core/src/abis/bulkTransferHelperAbi.ts
  packages/core/src/constants.ts
  packages/core/src/platform/api.ts
  packages/core/src/platform/types.ts
  packages/react/src/components/TreasureTag.tsx
  packages/react/src/components/ui/Dialog.tsx
  packages/react/src/components/ui/DropdownMenu.tsx
  packages/react/src/hooks/useTreasureAccountDomains.ts
  packages/react/src/icons/MagicStarsIcon.tsx
Owners: @alecananian

add changeset
  .changeset/twelve-rules-repeat.md
Owners: none

add optional dependency
  package-lock.json
  package.json
Owners: none

add @esbuild/linux-x64
  package.json
Owners: none

fix package lock and api build command
  apps/api/package.json
  package-lock.json
Owners: @alecananian

add @biomejs/cli-linux-x64
  package-lock.json
  package.json
Owners: none

add copyfiles to knip ignore
  knip.json
Owners: none
